<?xml version="1.0"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui version="16" name="paperlibrary_shell" >
 <MenuBar>
  <Menu name="file" >
   <DefineGroup append="open_merge" name="file_open" />
   <DefineGroup append="save_merge" name="file_save" />
   <DefineGroup append="print_merge" name="file_print" />
   <Action name="undo-close-tab" append="open_merge" />
  </Menu>
  <!--Menu name="view" >
   <Action name="fullscreen" />
  </Menu-->
  <Menu name="settings" >
   <DefineGroup append="show_merge" name="show_merge" />
   <Separator/>
   <Action name="epub-scroll-global-paginated" />
   <Action name="epub-scroll-global-continuous" />
   <Separator/>
   <Action name="epub-scroll-toggle" />
   <Action name="epub-scroll-book-global" />
   <Action name="epub-scroll-book-paginated" />
   <Action name="epub-scroll-book-continuous" />
   <Separator/>
   <Action name="scan-apple-books-on-startup" />
   <Action name="reader-motion" />
   <Action name="library-auto-tag" />
   <DefineGroup append="configure_merge" name="configure_merge" />
  </Menu>
  <Merge/>
  <Menu name="help">
   <DefineGroup append="about_merge" name="about_merge" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" >
  <text>Main Toolbar</text>
  <!--Action name="file_open_recent" /-->
  <!--Action name="file_print" /-->
 </ToolBar>
 <ActionProperties scheme="Default">
 </ActionProperties>
</gui>
